.Nav-layout {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  width: 100%;
  /* z-index: 20;*/
  /* position: absolute;  */
  background: #2a2a2a;
  /* box-shadow: 2px 2px 1px #27213b; */
  align-items: center;

}

.button-profile-nav{
 padding: 0px 30px 0px 40px;
}
.div-icon {
  width: 170px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  padding: 20px ;
  align-items: center;
  /* height: auto; */
  justify-content: center;
  transition: all .3s ease-in;
  color:rgb(143, 143, 143);
}

.div-icon:hover{
  color:#fff;
}

.Link-nav{
  text-decoration: none;

  color:rgb(143, 143, 143);
}
.p-profile{
  font-size: 14px;
    font-family: 'Poppins';
    color: rgb(143, 143, 143);
    transition: all .3s ease-in;
}
.p-profile:hover{
  color:white;
} 
.op{
  padding-top: 40px;
  justify-content: flex-end;
  display: flex;
  position: relative;
top: -20px;
}

.Nav-top-container-sticky {
  display: flex;
  z-index: 2;
  padding-right: 100px;
  height: fit-content;
  align-items: center;
  width: 100%;
  background: transparent;
  justify-content: space-between;

}

.div-logo {
  cursor: pointer;
  display: block;
  /* z-index: 30; */
  padding: 10px;
  position: absolute;
  margin-top: 5px;
  margin-left: 60px;
  transition: all .3s ease-in;
}

/* .div-logo:hover{
  border: 1px solid rgba(0, 0, 255, 0.517);
  border-radius: 50px;
} */

.Svg {
  margin-left: 10px;
  display: flex;
  height: 30px;
  width: 30px;
  padding: 20px 20px 20px 20px;
  align-items: center;
  cursor: pointer;
}

.Layout-search-icon {
  display: flex;
}
.Layout-search-icon:hover {
  height: auto;
  width: auto;

  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;

  box-shadow: #1cabc9 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Layout-search-icon:active {
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;

  box-shadow: #1cabc9 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.div-carrito-notifi {
  width: auto;
  height: auto;
  display: flex;
  padding: 10px 10px 12px 10px;
  cursor: pointer;
}

.div-notifi {
  padding-bottom: 10px;
}



.img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  /* background: #fff; */
}



/* .div-container-notificaciones{
display: flex;
} */
/* 
.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
} */


/* .div-layout-icon-nav{
  height: fit-content;
  width: 20%;
  display: flex;
} */
