.Nav-layout {
  padding-bottom: 20px;
  height: 50px;
  display: flex;
  width: 100%;
 background:rgb(42, 42, 42) ; 
  box-shadow: 2px 2px 1px #27213b;
}
.div-icon {
  padding: 10px 40px 10px 10px;
}

.op{
  padding-top: 40px;
  justify-content: flex-end;
  display: flex;
  position: relative;
top: -20px;
}

.Nav-top-container-sticky {
  display: flex;
  padding: 30px 10px 10px 10px;
  z-index: 2;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: transparent;
}

.div-logo {
  cursor: pointer;
  display: block;
  padding: 20px 20px 20px 20px;
  position: absolute;
}

.Svg {
  margin-left: 10px;
  display: flex;
  height: 30px;
  width: 30px;
  padding: 20px 20px 20px 20px;
  align-items: center;
  cursor: pointer;
}

.Layout-search-icon {
  display: flex;
}
.Layout-search-icon:hover {
  height: auto;
  width: auto;

  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;

  box-shadow: #1cabc9 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Layout-search-icon:active {
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;

  box-shadow: #1cabc9 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.div-carrito-notifi {
  width: auto;
  height: auto;
  display: flex;
  padding: 10px 10px 12px 10px;
  cursor: pointer;
}

.div-notifi {
  padding-bottom: 10px;
}
