.mainContainer{

    display: flex;
   justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 80px;
    font-family: "Poppins", sans-serif;
}

.content{
    vertical-align: middle;
    padding: 0 2rem;
    align-items: center;
    
}

.headerDiv{
    width: 100%;
    padding: 80px 0px 0px 20px;
    height: 140px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.allContainer{
    display: flex;
    align-items: center;
}

.title{
    width: 100%;
    text-align: center;
}
.h1Header{
    padding-left: 100px;
}

.leftContainer{
    margin: 0 2rem;
    
    width: 400px;
}

.right_container{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    width: 500px;
}

.input{
    width: 40vh;
    height: 40px;
    display: flex;
    border: none !important;
    border-radius: 5px;
    color: #dad2d2;
    background: #3e3b3b;
 
}
.labels{
    color: #cfc9c9;
    font-size: 13px;
    padding: 2px;
}
.input:focus{
    border: none !important;
}

.formContainer{
display: flex;
flex-direction: column;
gap: 20px;
padding: 30px;
}

.divSelect{
    display: flex;
    flex-direction: column;
}

.gnreContairner{
    display: flex;
    max-width: 400px;

    height: auto;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gnreCard{
    font-size: 12px;
    background: #3c3c3d;
    display: flex;
    width: 100px;
    height: 30px;
    border: none;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
}

.gnreButton{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    background: #5469FF;
    color: #ffff;
}

.gnreP{
    font-size: 10px;
    margin: 0;
    height: auto;
}

.Select{
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #cfc9c9;
    background: #3e3b3b;
}


.textarea{
    width: 40vh;
    height: 100px;
    display: flex;
    border: none !important;
    font-family: 'Poppins';
    border-radius: 5px;
    color: rgb(161, 157, 157);
    background: #3e3b3b;

}
.errors{
font-size: 12px;
color : #EB4848;
 margin: 0;
}


.checkBoxDIV{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

}


.input:-internal-autofill-selected{
background: #3e3b3b;
}


.unploadDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    margin-left: 100px;
    width: 100%;
}

.backhome{
    text-decoration: none;
    display: flex;
   
    gap: 10px;
   
    
}

.pLink{
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    color: #ffff;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.pLink p {
    margin-left: 10px;
}