:root {
  /* height: auto;
  width: auto; */
  font-family: Poppins, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* position: relative; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:8px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
  border: 2px solid #303233;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* body {
   /* scroll thumb and track */


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1C1632;
  }
  a:hover {
    color: #1C1632;
  }
  button {
    background-color: #1C1632;
  }
} */
