.layout{
    height: 60vh;
    background: #ffffff17;
    border-radius: 10px;
}


.divAvatar {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 24px;
    flex-direction: row;
    align-items: center;
  }


  .img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    /* background: #fff; */
  }


  .seccionComments{
    display: flex;
  }

  .divIcon{
    display: flex;
    width: 100px;
    justify-content: flex-end;
  }