
.divAvatar {
 width: 50px;
 height: 50px;
 border-radius: 30px;
 border: 10 px solid ;
 background:transparent;
  }


  .img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #5469FF;
    /* background: #fff; */
  }

  
  .layout{
    display: flex;
    min-height:100px ;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;
    background: rgba(58, 57, 57, 0.377);
  }

  .divIcon{
    background:transparent;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }