.input,
.select,
.label,
.button {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    line-height: 1;

    font-weight: 400;
}

.inputs-container{
    
    margin: 30px;
    position: relative;
    color: #707070;
}
.form-select-container {

    margin: 30px;
    color: #707070;
}

.radio-container {
    margin: 30px;
    color: #707070;
    
}
/* .form-label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: all .8s ease;
    font-size: 13px;
    pointer-events: none;
    font-family: "Poppins";
} */
.form-label {
    font-size: 14px;
    color: #b3a8a8;
    margin-bottom: 13px;
    margin-left: 13px;
  
}

.input-text, .input-text-area, .select-engines{
    border: 1px solid rgba(255, 255, 255, 0.281) !important;
}

.input-text, .select-engines {
    width: 100%;
    padding: 20px;
    color: rgb(205 200 200);
    border-radius: 4px;
    background-color: #424040;
    box-sizing: border-box;
    font-size: 14px;

}
.radio-container-yer-or-not{
    padding: 20px;
}

.radio-container-yer-or-not input {
    margin-left: 20px;
    
}
.radio-container-yer-or-not label {
    margin-left: 20px;
    font-size: 14px;
}

*:focus {
    outline: none;
}



.dev-form-submit{
    margin: 30px;
    align-items: center;
    text-align: center;
}

.dev-form-button{
    
            appearance: button;
            backface-visibility: hidden;
            background-color: #405cf5;
            border-radius: 6px;
            border-width: 0;
            box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
            font-size: 13px;
            height: 55px;
            line-height: 1.15;
            margin: 12px 0 0;
            outline: none;
            overflow: hidden;
            padding: 0 25px;
            position: relative;
            text-align: center;
            text-transform: none;
            transform: translateZ(0);
            transition: all .2s, box-shadow .08s ease-in;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 20%;
       
}

.dev-form-button:hover  {
    background-color: #4c66f9;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    
}

.fail {
    color: #f2317f;
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
}