.nav{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 15px;
}

.title{
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    width: 200px;
    font-family: poppins;
    font-size: 20px;
}
.containerData{
  height: 90vh;
  min-width: 1200px;
  background: #ffffff17;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid black; */
}


.LayoutProfilePage{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( 45deg, rgb(35 95 131), rgb(50, 50, 122), rgb(59 58 116), rgb(135 34 68) );

      background-size: 400% 400%;
  animation: cambiar 14s ease-in-out infinite;
    height: 110vh;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: flex-start;

}

@keyframes cambiar{
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }



  .conteiner{
    display: flex;
    padding-left: 40px;
    min-width: 800px;
    max-width: 800px;
    background: transparent;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    height: 60vh;
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  
  .CardContainer{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    width: 90%;
    padding: 10px;
  
   
  }
  
  
  .conteiner::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .conteiner::-webkit-scrollbar:vertical {
    width:4px;
  }
  
  .conteiner::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  .conteiner::-webkit-scrollbar:horizontal {
    height: 0%;
  }
  
  .conteiner::-webkit-scrollbar-thumb {
    background-color: #ffffff9d;
    border-radius: 10px;
   
  }
  
  .conteiner::-webkit-scrollbar-track {
    border-radius: 10px;  
  } 
  
  
  
  
  
  .cart-products-div::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .cart-products-div::-webkit-scrollbar:vertical {
    width:1px;
  }
  
  .cart-products-div::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  .card-cart-container::-webkit-scrollbar:horizontal {
    height: 0%;
  }
  
  .cart-products-div::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 200px;
   
  }
  
  .cart-products-div::-webkit-scrollbar-track {
    border-radius: 10px;  
  } 
  
  
  