.nav{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 15px;
}

.title{
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    width: 200px;
    font-family: poppins;
    font-size: 20px;
}