.select-container{
    height: 100px;
    width: 100px;
    background: #fff;

position: relative;
cursor: pointer;

}
.select-layout{
    position: absolute;
    padding: 20px 20px 20px 20px;
}
.option-container{

    /* height: 100px;
    width: 100px; */
    width: auto;
    background: #fff;
}
.option-name{
    font-size: 12px;
    font-family: Poppins;
    color: black;
}
