


.container-center-payment{
    display: flex;
    width: 100%;
    min-height: 100%;
    padding-top: 20px;
    justify-content: center;
}
  .container-payment{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 70%;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
  }


  .cart-products-div {
    height: 70vh;
    display: flex;
    /* overflow-y: hidden; */
    width: 100%;
    /* border-radius: 10px; */
    background: transparent;
    /* box-shadow: 2px 2px 1px #27213b; */
  }

  .payment-forme{
    height: 60vh;
    width: 70vh;
    border-radius: 10px;
    background: black;
    box-shadow: 2px 2px 1px #27213b;
  }



.buttons-payments{
  display: flex;
  /* margin-top: auto; */
  padding: 20px;
  align-items: center;
  gap: 20px;
  height: 90px;
  /* width: 100%; */
  justify-content: center;
  flex-direction: row;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  width: 200px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px;
  /* font-weight: 900; */
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: all .3s ease-in-out;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: white;
  color: black;
  border: 2px solid  #2ea44f;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.cart_empty {
  font-size: 40px;
  margin : 0 ;
  text-align: center;
  padding-top: 200px;
}


.price-total{
  
  margin-top: 20px;
  margin-left: 20px;
  
  padding: 8px;
  color: white;
  text-shadow: 3px 3px 5px green;
}

.price-total span {
  text-shadow: 0 0 0;
  color: green;
}


