.slider-game-container{
    width: 1200px;
}

.game-title-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
    
}

.game-title-slider h2{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.4;
    padding: 10px;
    border-radius: 10px;
    /* border: 0.5px solid #FFD700;; */
    /* background-color: rgba(255, 255, 255, 0.359); */
    /* text-shadow: 1px 1px 1px #FFD700;; */
}

.games-slider-buttons-container {
  width: 80px;
  display:flex;
  justify-content:space-evenly;
}

/* POPULAR BUTTONS */
.next-popular-colored{
    background: #3c3c3c;
    display: inline-block;
    color: #fff;
    border: 1px solid rgba(30,144,255,1) ;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.container-for-sliders-swipers{
    display: flex;
    align-items: center;
    text-align: center;
}
.prev-popular-colored {
    display:inline-block;
    background: #3c3c3c;
    color: #fff;
    border: 1px solid rgba(30,144,255,1) ;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.prev-popular {
    display: inline-block;
    background: #232323;
    color: #fff;
    border: 1px solid rgba(30,144,255,1) ;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.next-popular {
    background: #232323;
    display: inline-block;
    color: #fff;
    border: 1px solid rgba(30,144,255,1) ;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

/* RELEASED LAST MONTH BUTTONS */

.next-released-colored {
    background: #3c3c3c;
    display: inline-block;
    color: #fff;
    border: 1px solid rgba(30,144,255,1) ;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.prev-released-colored {
    display: inline-block;
    background: #3c3c3c;
    color: #fff;
    border: 1px solid rgba(30,144,255,1);
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.prev-released {
    display: inline-block;
    background: #232323;
    color: #fff;
    border: 1px solid rgba(30,144,255,1);
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.next-released {
    background: #232323;
    display: inline-block;
    color: #fff;
    border: 1px solid rgba(30,144,255,1);
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

/*  */

.game-slider-swiper {
    
    width: 160vh;
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
}


.popular-swiper-slide {

    /* text-align: center;
    /* Center slide text vertically */

}

/* INDIE SLIDERS */

.next-indi-colored {
    background: #3c3c3c;
    display: inline-block;
    color: #fff;
    border: 1px solid rgba(30,144,255,1) ;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.prev-indi-colored {
    display: inline-block;
    background: #3c3c3c;
    color: #fff;
    border: 1px solid rgba(30,144,255,1);
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.prev-indi {
    display: inline-block;
    background: #232323;
    color: #fff;
    border: 1px solid rgba(30,144,255,1);
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.next-indi {
    background: #232323;
    display: inline-block;
    color: #fff;
    border: 1px solid rgba(30,144,255,1);
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
