

.game-title-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.games-slider-buttons-container {
  width: 80px;
  display:flex;
  justify-content:space-evenly;
}

/* POPULAR BUTTONS */
.next-popular-colored{
    background: #3c3c3c;
    display: inline-block;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.prev-popular-colored {
    display:inline-block;
    background: #3c3c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.prev-popular {
    display: inline-block;
    background: #232323;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.next-popular {
    background: #232323;
    display: inline-block;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

/* RELEASED LAST MONTH BUTTONS */

.next-released-colored {
    background: #3c3c3c;
    display: inline-block;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.prev-released-colored {
    display: inline-block;
    background: #3c3c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.prev-released {
    display: inline-block;
    background: #232323;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.next-released {
    background: #232323;
    display: inline-block;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

/*  */

.game-slider-swiper {
    
    width: 160vh;
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
}


.popular-swiper-slide {

    /* text-align: center;
    /* Center slide text vertically */

}