.div-Nav-bar{
    z-index: 3;
  
    background:transparent ;
    height: 100vh;
    display: flex;
    position: absolute;
width: 150px;
  
}

.div-padre-nav{
    z-index: 3;
    background: rgb(83,9,45);
    background: linear-gradient(0deg, rgba(83,9,45,0.5718662464985995) 0%, rgba(80,10,46,0.5522584033613445) 5%, rgba(57,19,53,1) 13%, rgba(47,23,56,1) 28%, rgba(35,28,60,1) 100%, rgba(35,28,60,1) 100%);
    height: 300%;
    display: flex;
    position: absolute;
width: 160px;
box-shadow:  2px 2px 1px #27213B ;

}



.nav{
    display: flex;
    flex-direction: column;
    justify-content: right;
    justify-content: space-around;
    padding-left: 15px;
    justify-content: space-evenly;
    width: 160px;
}
.div-estilo-font{
    justify-content: space-evenly;
    display: flex;
  
    font-family: "Poppins", sans-serif;
    background-color: #312f45;
    height: auto;
    width: auto;
  
  
    padding: 20px;
}

.Link {
    color: #F6EEEC;
    font-size: 16px;
    font-family: Work Sans;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    /* p:hover {
      color: #4a43aa;
    } */

/* active {
      color: #fff;
 
} */
}

.div-icons-nav{
    display: flex;
    align-items: center
}


.div-item3-nav{
    display: flex;

}


.div-logo{
    display: flex;
    flex-direction: column;
}