.pay-button {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    margin-top: 10px;
    text-align: center;
    
    min-height: 3.75em;
    min-width: 0;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 100%;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
}
.a-payment-detail{
    color:#fff;
    text-decoration: none;
}
.span-loading{
    color: rgba(252, 252, 252, 0.795);
    text-transform:uppercase;
    animation: move linear 2000ms infinite; 
    text-shadow:0px 0px 5px rgb(255, 255, 255),
        0px 0px 7px rgb(69, 39, 177);
}
.pay-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    font-size: 16px;
    text-align: center;
}

/* .pay-button span:after {
   
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
} */

.pay-button:hover span {
    opacity: 4;
}

/* .pay-button:hover span:after {
    opacity: 4;
    right: 0;
} */