.block{
    background-color: #3a0ca3;
    width: 100%;
    height: 200px;
}

.LayoutProfilePage{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: linear-gradient( 45deg, rgb(35 95 131), rgb(50, 50, 122), rgb(59 58 116), rgb(135 34 68) );
    background-size: 400% 400%;
animation: cambiar 14s ease-in-out infinite;
  height: auto;

  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: flex-end;

}

@keyframes cambiar{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.containerData{
  height: 90vh;
  min-width: 1200px;
  background: #ffffff17;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}




.Statistics{
  display: flex;
    padding-left: 40px;
    min-width: 840px;
    border-radius: 5px;
    background: transparent;
    flex-direction: column;
    gap: 83px;
    padding-top: 20px;
    height: auto;
    padding-bottom: 20px;

}



.conteiner{
  display: flex;
  padding-left: 40px;
  min-width: 840px;
  background: transparent;
  flex-direction: column;
  border-radius: 5px;
  gap: 20px;
  overflow-y: scroll;
  padding-top: 20px;
  height: 60vh;
  padding-bottom: 20px;

}

.conteiner::-webkit-scrollbar {
  -webkit-appearance: none;
}

.conteiner::-webkit-scrollbar:vertical {
  width:4px;
}

.conteiner::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.conteiner::-webkit-scrollbar:horizontal {
  height: 0%;
}

.conteiner::-webkit-scrollbar-thumb {
  background-color: #ffffff9d;
  border-radius: 10px;
 
}

.conteiner::-webkit-scrollbar-track {
  border-radius: 10px;  
} 









.h1{
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}


.nav{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}
.ul{
    display: flex;

    align-items: center;
    width: 100%;
   
}

.noGame{
    display: flex;
    align-items:center;
    flex-direction: column;

}

.title{
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    width: 200px;
    font-family: poppins;
    font-size: 20px;
}
.DivCardProveedor{
  width: 600px;
    padding: 20px;

}
.button {
    display: flex;
    align-items: center;
    font-family: poppins;
    font-weight: 90;
    font-size: 15px;
    padding: 0.8em .5em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #343a40, #343a40, #495057);
    border: none;
    letter-spacing: 0.08em;
    border-radius: 10px;
}
  
.button svg {
    margin-right: 1px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.button:hover svg {
    transform: translateX(5px) rotate(90deg);
}
  
.button:hover span {
    transform: translateX(7px);
}
.link{
    text-transform: uppercase; 
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: poppins;
    font-weight: 90;
    font-size: 16px;
}



.loader {
    display: inline-block;
    width: 100%;
    height: 1px;
    border-radius: 40px;
    background-color: #4cc9f0;
    position: relative;
    overflow: hidden;
    padding-top: 7px;
}
  
  .loader span {
    font: 700 22px monospace;
    text-transform: uppercase;
    margin: auto;
    color: #4cc9f0;
    letter-spacing: 5px;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 150%;
    height: 100%;
    background-image: linear-gradient(332deg, #f72585, #3a0ca3);
    border-radius: inherit;
    transform: scaleX(0);
    transform-origin: left;
    animation: load5123 1s infinite;
  }
  
  @keyframes load5123 {
    50% {
      transform: scaleX(1);
    }
  
    100% {
      transform: scaleX(0);
      transform-origin: right;
    }
  }

  .loader1 {
    background-color: black;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform-origin: center;
    transition: 1s;
    border-radius: 50px;
    box-shadow: inset 0px 0px 10px purple,
    inset 5px 5px 12px rgba(44, 0, 114, 0.8),
    inset 8px 8px 1px rgba(160, 120, 255, 0.7),
    0px 0px 1px rgba(160, 120, 255, 0.6);
    animation: 1.2s linear infinite 0s running first682;
  }
  
  .loader1 div {
    width: inherit;
    height: inherit;
    position: absolute;
  }
  
  #first {
    transform: rotate(90deg)
  }
  
  #first::before {
    --width: 1em;
    --height: 1em;
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - var(--width)/2);
    width: 1em;
    height: 1em;
    background-color: rgb(44, 0, 114);
    box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
    0px 0px 2px white;
    border-radius: 50px;
    animation: 0.8s ease-in 0s infinite running jump2;
  }
  
  #second {
    transform: rotate(90deg);
  }
  
  #second::before {
    --width: 1em;
    --height: 1em;
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - var(--width)/2);
    width: 1em;
    height: 1em;
    background-color: rgb(44, 0, 114);
    box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
    0px 0px 2px white;
    border-radius: 50px;
    animation: 1.5s ease-in 0s infinite running jump2;
  }
  
  #third {
    transform: rotate(90deg)
  }
  
  #third::before {
    --width: 1em;
    --height: 1em;
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - var(--width)/2);
    width: 1em;
    height: 1em;
    background-color: rgb(44, 0, 114);
    box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
    0px 0px 2px white;
    border-radius: 50px;
    animation: 1.6s ease-in 0s infinite running jump2;
  }
  
  .loader1::after {
    --width: 1em;
    --height: 1em;
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - var(--width)/2);
    width: 1em;
    height: 1em;
    background-color: rgb(44, 0, 114);
    box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
    0px 0px 2px white;
    border-radius: 50px;
    animation: 1.2s ease-in 1s alternate infinite running jump2;
  }
  
  @keyframes first682 {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(0deg);
      transform: rotate(90deg)
    }
  
    50% {
      transform: rotate(90deg);
      transform: rotate(180deg);
    }
  
    75% {
      transform: rotate(180deg);
      transform: rotate(270deg)
    }
  
    100% {
      transform: rotate(270deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes jump2 {
    0% {
      top: 100%;
    }
  
    25% {
      top: 230%
    }
  
    50% {
      top: 100%;
    }
  
    75% {
      height: 0.6em
    }
  
    100% {
      height: 1em
    }
  }