.conteiner {
  display: flex;
  justify-content: space-around;

  padding-top: 20px;
width: 100%;

  background: transparent;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
}
.divNameAvatar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
.div {
  display: flex;
  align-items: flex-start;
  align-content: center;
  width: 200px;
  height: 100px;
  font-size: 21px;
}
.containerData {

  min-width: 1200px;
  background: #ffffff17;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid black; */
}

.img {
  border-radius: 100%;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  width: 200px;
  border-width: 0;
  box-shadow: rgb(45 35 66 / 20%) 0 2px 4px, rgb(45 35 66 / 15%) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: Poppins;
  height: 37px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  /* font-size: 18px; */
  font-size: 15px;
}

.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
.input {
  background-color: #ffffff15;
  font-family: poppins;
  color: rgb(200, 192, 230);
  max-width: 190px;
  height: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.input::placeholder {
  color: rgb(200, 192, 230);
  font-size: 14px;
}

.select {
  background: #fff3f300;
  font-family: poppins;
  max-width: 190px;
  color: rgb(255, 255, 255);
  height: 40px;
  padding: 10px;

  border: 2px solid white;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.select option{
  color: rgb(112, 106, 106);
  background: transparent;
}
/* .select:focus {
  color: rgba(82, 79, 79, 0.13);
  background-color: #ffffff23;
  outline-color: rgba(255, 252, 252, 0.096);
  box-shadow: -3px -3px 15px rgb(58, 99, 99);
  transition: 0.1s;
  transition-property: box-shadow;
} */

.Change {
  display: flex;
  flex-direction: column;
  border-bottom: 0.2px solid #ffffff0a;
  gap: 20px;
  width: 100%;
  padding-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}



.Edit{
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  padding: 10px;
  height: 200px;
  width: 400px;
  justify-content: space-between;
}

.Birtday{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 270px;
  width: 400px;
  justify-content: space-between;
}

.todosjuntos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;



}

.divInputs {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}

.LayoutProfilePage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgb(35 95 131),
    rgb(50, 50, 122),
    rgb(59 58 116),
    rgb(135 34 68)
  );
  background-size: 400% 400%;
  animation: cambiar 14s ease-in-out infinite;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: flex-start;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* .divSet{
    display: flex;
    gap: 10px;
    flex-direction: column;
} */

.img {
  width: 100px;
  border-radius: 50px;
  /* background: #fff; */
  height: 100px;
} 


.option{ 
      color: #000000b3;
    margin: 0;
    font-size: 14px;
}


.h1{
  font-size: 20px;
}

.location{
  display: flex;
  flex-direction: column;
}