.imagesPreviewContainer{
    width: 200px;
}

.imgScale{
    width: 20vh;
    height: 20vh;
    border-radius: 10px;

}

.h1{
    font-size:14px;
    color: #fff;
}




.btnUnpload {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
   }
   
    .btnUnpload :hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
    .btnUnpload :active {
    transform: translate(0em, 0.2em);
   }