.main_container_examinar{
    display: flex;
    flex-direction: column;
    align-items: center;
   min-height: 100vh;
    
    margin-bottom: 80px;
}

.cards_main_container{
    display: flex;
    padding: 0 2rem;
    text-align: center;
    
}
.left_container{
    width: 900px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
}

.cards_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 10px;
    
}

.right_container{
   
    /* display: flex;
    flex-direction: start; */
    display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 250px;
    
}

.filters_container{
    width: 100%;
}


.divStiky{
    display: flex;
    width: 100%;
    position: sticky;
    background: #121212;

    top: 0;
    z-index: 10;
    justify-content: center;
}

.separador{
    height: 20px;
}

.loading{
    display: flex;
    align-items: center;
    padding-top: 300px;
}

.pagination {
    margin-top: 3rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 300;
    gap: 5px;
    color: rgb(143, 143, 143);
}

.pagination .page_num {
    padding: 8px 15px;
    cursor: pointer;
}

.pagination .page_num:hover{
    color: rgb(245, 245, 245);
}

.pagination .active{
    color: rgb(245, 245, 245);
}