.div-home{
    background-color:  #1C1632 !important;  
    display: flex;
    height: auto;
    flex-wrap: wrap;
padding-left: 10rem;
    width: auto;
    justify-content: center;
    left: 700px;
   z-index: 2;
}

.img-background{
display: flex;
position: absolute;
width: auto;
height: auto;
pointer-events: none;
top:-20rem;
z-index: 0;
}

.swiper {
    margin-top: 220px;
}