.container-all-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-all-cardsmini {
  height: auto;
  width: 200px;
}

.container-search-home {
  display: flex;
  width: 130vh;
  height: 77px;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.seccion-home-descubrir {
  margin: 0;
  display: flex;
  padding-top: 20px;
}
.div-home {
  background-color: #121212 !important;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  padding: 10px;
  width: 90%;
}

.img-background {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  pointer-events: none;
  top: -20rem;
  z-index: 0;
}

.div-home-card {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-home-swipper {
  width: 70%;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.home-slider {
  display: flex;
  justify-content: center;
}

.loading-home {
  width: 100%;
  height: 100%;

  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
