.main-detail-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 80px;
    font-family: "Poppins", sans-serif;
}

.detail-container {
    display: flex;
    padding: 0 2rem;
    align-items: center;
}

.left-container {
    margin: 0 2rem;
    padding-top: 5rem;
    width: 800px;
}
.hr-cardD{
    border: 0.1px solid;
    border-radius: 10px;
    width: 100%;

    color: rgb(70 68 68 / 11%);
}
.navigation-title-rating-container {
    margin-bottom: 30px;
}

.navigation-title-container a {
    cursor: pointer;
}

.rating-website-container {
    display: flex;    
    align-items: center;
    
}

.rating-container {
    margin-right: 20px;
}

.website-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    padding: 0px 10px 0px 10px;
}

.website-container a {
    text-decoration: none;
}

.detail-slider-container{
    align-items: center;
    vertical-align: middle;
}

.description-container {
    margin-top: -40px;
}
.description {
    
        text-align: left;
        line-height: 1.5em;
        text-decoration: none;
        margin-bottom: 40px;
        word-break: break-word;
}

.right-container {
    margin-left: 1rem;
    width: 300px;
}

.loading {
    width: 100px;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.layout-comentarios{
    min-height: 30vh;
    background: #1a1919bf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #5a5a5a
}