.contenedor{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
}


.componente{
    display: flex;
    flex-direction: row;
    min-width: 1200px;
    padding: 0 2rem;
    border-radius: 16px;
    border: 1px solid transparent;
    height: 500px;
    background-image: linear-gradient(to right top, #3e7bbc, #2874c5, #0c6dce, #0064d5, #005ada, #0a55dc, #1650dd, #214ade, #214ade, #214ade, #214ade, #214ade);
}

.contenedorimg {
  display: flex;
  flex-direction: column;
  top: 175px ;
  left:230px ;
}

.componente2{
  display: flex;
  flex-direction: column;
}

.logo{
  display: flex;
 flex-direction: column;
 text-align: center;
margin-top:7% ;
margin-left: 15%;
 
}


.img{
  display: flex;
  flex-direction: column;
    width: 400px;
    height: 500px;
 }  


.text{
display: flex;
flex-direction: column;
width: 500px;
text-align: center;
margin-top: 8%;
margin-left: 30%;
}

.acheuno{
font-family: poppins;
font-weight: 100;
line-height:37px;
}

.button {
    padding: 17px 40px;
    color: black;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   .button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
   .button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }


   
.allcards{
    padding-top: 40px;

    display: flex;
    justify-content:space-around;
    align-items:center ;
    width: 90%;
}

   .card {
    margin: 10px;
    width: 490px;
    height: 450px;
    background: #121212;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .card h2{
    z-index: 1;
    color: white;
    font-size: 2em;
  }

  .card span{
    z-index: 1;
    color: #918a8a;
    font-size: 1em;
    text-align: center;
  }
  .card img {
    z-index: 1;
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 190%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #121212;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
 
  .carddos {
    margin: 10px;
    width: 490px;
    height: 450px;
    background: #121212;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .carddos h2 {
    z-index: 1;
    color: #ffffff;
    font-size: 2em;
    text-align: center;

  }
  .carddos span{
    z-index: 1;
    color: #918a8a;
    font-size: 1em;
    text-align: center;
  }

  .carddos img {
    z-index: 1;
  }
  
  
  .carddos::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 190%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .carddos::after {
    content: '';
    position: absolute;
    background: #121212;
    inset: 5px;
    border-radius: 15px;
  }  

  .cardtres {
    margin: 10px;
    width: 490px;
    height: 450px;
    background: #121212;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .cardtres h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  .cardtres span{
    z-index: 1;
    color: #918a8a;
    font-size: 1em;
    text-align: center;
  }

  .cardtres img {
    z-index: 1;
  }
  
  .cardtres::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 190%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .cardtres::after {
    content: '';
    position: absolute;
    background: #121212;
    inset: 5px;
    border-radius: 15px;
  }  

  .contenedorbtn{
  display: flex;
  flex-direction: row;
  margin-left: -1000px;
  margin-bottom: 20px;
  
  }

  .link{
    text-decoration: none;
  }

  .btn {
     margin-left: 20px;
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
      /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }
 
  .contenedorpreguntas {
    width: 100%;
    display: flex;
    grid-template-columns: 1fr;
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }

  .contenedorpregunta{
    background-color: #121212;
    padding: 60px;
    width: 80%;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;


  }

  .contenedorpregunta:hover{
    color:black;
    background-color: whitesmoke;

  }


  .pregunta{
font-weight: 700;
font-size: 15px;
line-height: 20px;
display: flex;
margin :0;
justify-content: space-between;
align-items: center;
  }

  .respuesta {
line-height: 20px;
max-height: 0;
color:#121212;
transition: .3s ease all;
  }

  
  .arriba {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
  }
  
  .arriba span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  .arriba span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  
  .arriba span:not(hover) {
    transition: all 1s;
  }
  .up{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
  }