.dev-form-main-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 80px;
    font-family: "Poppins", sans-serif;
    justify-content: flex-start;
    flex-direction: column;
}

.dev-form-wrapper {
    display:flex;
    padding: 0 2rem;
    align-items: center;
    width: 1200px;
    flex-direction: column;
    justify-content: center;
 }

 .form-container {
        padding: 0 1em;
        width: 100%;
     
 }

 .dev-form-loading{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
 }