.searchBar_container{
    margin-top: 10px;
    display: flex;
    width: 1200px;
    height: 100px;
    /* padding-top: 60px; */
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}

.links_searchBar{
    display: flex;
        height: 50%;
        width: auto;
        gap: 50px;
      
        align-items: center;
        margin-left:50px;
        
}

.p_create_game{
    margin-left: 0;
    color: rgb(143, 143, 143);

    font-size: 14px;
    text-decoration: none;
    transition: all .3s ease-in;
}

.p_create_game:hover {
    color: rgb(245, 245, 245);
   
}

.tabSelected{
    color: rgb(245, 245, 245);
    text-decoration: none;
}


.Links{
    font-size: 12px;
}