.center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.conteiner {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #ffffff36;
  box-shadow: -1px 1px 1px #424141, 0 0 #fff;
  border-radius: 5px;
  height: 110px;
  gap: 20px;
  align-items: center;

}
.divDowload{
  width: 100px;
}
.div {
  display: flex;
  align-items: center;
  align-content: flex-start;
  width: 200px;
  height: auto;
  font-size: 12px;
  font-family: Poppins;
  position: relative;
  justify-content: center;
}

.divImg {
  display: flex;

  width: 200px;
  height: auto;

  position: relative;
}

.img {
  width: 150px;
  height: 130px;
  border-radius: 2px;
}

.li {
  text-decoration: none;
  color: white;
  font-family: Poppins;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.li:focus,
/* .li:hover {
    color: #ffd166;
} */
  
.li:focus:after,
.li:hover:after {
  width: 100%;
  left: 0%;
}

.li:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ffd166;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.divButton {
  display: flex;
  width: 200px;
  padding-right: 20px;
}
.button {
  font-family: poppins;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  width: 40px;
  border: 0px solid;
  background: #ffffff3d;
  background-size: 500% 400%;
  color: white;
  border-radius: 50px;
  transition: 0.6s all;
}

.button:active {
  transform: scale(1);
  transition: 0.1s;
}

.Link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.Link:hover {
  text-decoration: none;
  color: rgb(199, 192, 192);
}

.text {
  font-size: 12px;
}

.icon {
  color: #fff;
}
