.reset_filters {
    width: 100%;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 13px;
        font-weight: 500;
    font-weight: bold;
    cursor: pointer;
}

.reset_filters::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #121212;
    transition: 0.5s;
    transform-origin: center;
}

.reset_filters::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #121212;
    transition: 0.5s;
}

.reset_filters:hover::before,
.reset_filters:hover::after {
    transform: scale(0)
}

.reset_filters:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}
