.previewContainer{
    display: flex;
    /* flex-direction: row; */
    justify-content: left;
}

.imagesPreview{
    position: relative;
    width: 350px;
    height: 200px;
    margin: 20px;
}

.imagesPreview img{
    width: 350px;
    height: 200px;
    object-fit: contain;
}

.button {
    display: flex;
    align-items: center;
    font-family: poppins;
    font-weight: 90;
    font-size: 15px;
    padding: 0.8em .5em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #343a40, #343a40, #495057);
    border: none;
    letter-spacing: 0.08em;
    border-radius: 10px;
}
  
.button svg {
    margin-right: 1px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.button:hover svg {
    transform: translateX(5px) rotate(90deg);
}
  
.button:hover span {
    transform: translateX(7px);
}

.button1 {
    position:absolute;
    top: 0;
    left: 0;
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    width: 40px;
    border: 0px solid;
    background-image: linear-gradient(45deg,#ef233c, #ef233c, #ef233c);
    background-size: 500% 400%;
    color: white;
    border-radius: 50px;
    transition: 0.6s all;
   }
   
   .button1:hover {
    background-position: 75% 50%;
    transform: perspective(100px);
    background-image: linear-gradient(45deg,#343a40, #343a40, #495057);
   }
   
   .button1:active {
    transform: scale(1);
    transition: 0.1s;
   }