@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.game-image {
    position: relative;
    overflow: hidden;
}

.single-card {
    width: 280px;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
    margin-bottom: 30px;
    overflow: hidden;
}


.game-image img {
    width: 280px;
    height: 200px;
    vertical-align: middle;
    transition: .3s;
    border-radius: 10px;
}

.favourite-tag{
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 8px 14px;
    color: #fff;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    z-index: 1;
    font-family: "Poppins", sans-serif;
}

.single-card:hover .favourite-tag {
    transform: scale(1.06);
}

.card-content {
    width: 230px;
    padding: 5px 25px 25px 25px;
    border-bottom: 1px solid #e8e8e8;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
    display: flex;
    background: #e8e8e8;
    position: relative;
    color: #001d38;
    flex-direction: column;
}

 .line {
     width: 300px;
     height: 47px;
     border-bottom: 1px solid black;
     position: absolute;
 }

.card-content-header {
    display: flex;
    justify-content: space-between;
    color: #001d38;
    align-items: center;  
}

.card-content h3 {
    font-size: 16px;
    color: #001d38;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.card-content a {
    text-decoration: none;
}

.card-footer ul li span{
    color: #001d38;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
}

.card-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 5px 50px 0px 50px;
    margin: 0;
    
}

.more-content-1,
.more-content-2 {
    padding: 3px 0px 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.line {
    color: #808080;
    height: 2px;
    opacity: 0.1;
}

.star {
    padding: 0px 2px 0px 2px;
    color: tomato;
}

.card-footer ul li i{
    color: #27213b
}

.red-heart {
    color: red;
}

.magic-hover {
    display: none;
    
}


.card:hover .magic-hover {
    display: block;
    
}

.price-cart{
    display: flex;
width: auto;
align-items: center;
justify-content: space-between;
}
.fa-classic, .fa-regular, .fa-solid, .far, .fas{
    padding: 4px;
}

.shopping-cart{
    display: flex;
    align-items: center;
}




.ranking-container{
    display: flex;
    align-items: center;
}