.detail-slider-container {
    width: 800px;
    height: 700px;
    align-items: middle;
    
}

video {
    display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      
}

.screenshots-slider, .screenshots-slider-thumbs{
    width: 100%;
     height: 100%;
}

.swiper-slide-screenshot, .swiper-slide-thumb-screenshot {
    align-items: center;
    
    /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
}



/* .swiper-slide-screenshot{
    padding-top: 70%;
    overflow: hidden;
    position: relative;
} */

.swiper-slide-screenshot img {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%; */
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide-thumb-screenshot img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screenshots-slider,
.screenshots-slider-thumbs {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide-screenshot,
.swiper-slide-thumb-screenshot {
    background-size: cover;
    background-position: center;
}

.screenshots-slider {
    height: 70%;
    width: 100%;
}

.screenshots-slider-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}


.swiper-slide-thumb-screenshot {
    
    
    opacity: 0.4;
}
.screenshots-slider-thumbs, .swiper-slide-thumb-active{
    opacity: 1;
    
}

.swiper-slide-thumb-active img {
    border: 0.5px solid #dddbdb;
}

