.modal, .overlay{

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 00;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modalContent {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    color: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
    background: #171B2D;
}

.closeModal {
    display: flex;
    justify-content: flex-end;
}

.closeModal button {
    background-color: transparent;
  border: none;
  cursor: pointer;
}

.headerModal h2 {
    margin-bottom: 0px;
    
}

.headerModal {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.aplicationContent {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.actionsButtons {
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 7px;
}

.acceptButton {
    display: flex;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    margin-top: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 3em;
    min-width: 0;
    width: 40%;
    padding: 0,5em;
    transition: all 0.4s;
    cursor: pointer;
}

.acceptButton:hover{
    background: #3586ff;
}

.inputs_container{
    margin-bottom: 20px;
    position: relative;
}



.inputs_container i{
    position: absolute;
    top: 40%;
    right: 10px;
    padding: 8px 14px;
    font-weight: 500;
    z-index: 1;

}
