.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container-form-login {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    width: 55vh;
    gap: 20px;
    height: 100%;
    background: #ffff;
    
    /* position: relative; */
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    justify-content: center;
    align-items: center;
}

.decoracion-login{
    width: 200px;
    height: 200px;
    top: 90%;
    right: 20px;
    position: absolute;
    
    background-image: url(../formularios/icons-logos-formlogin/Vector.png);
}

.form {
    height: auto;
    /* position: relative; */
    border-radius: 6px;
    padding: 30px;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 40vh;
    border-radius: 6px;
    gap:5px;
    padding: 10px 0px 0px 0px;
    background: #fff;
}
.ojito{
    color:rgba(0, 0, 0, 0.685);
    position: absolute;
    right: 95px;
    top:30px;
   
}
.input {
    height: 40px;
    width: 80%;
    border: 1px solid ;
    font-size: 13px;
    font-weight: 200;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border: 0.2px solid #606060;
    border-radius: 10px;
}
.input-login{
    height: 50px;
    width: 80%;
    border: 1px solid ;
    font-size: 13px;
    font-weight: 200;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: 0.4px solid #60606041;
    border-radius: 10px;
}
.input-container {
    width: 45vh;
    height: auto;
    display: flex;
    position: relative;
    padding: 10px 0px 10px 0px;
}
.input::placeholder {
    padding: 15px;
    color: #b6b6b6;
    font-weight: 500;
}
.label {
    font-family: Poppins;
    color: #606060;
    font-size: 12px;
    margin: 0;
}
.label-log {
    font-size: 12px;
    font-family: Poppins;
    color: #606060;
    margin: 0;
}
.Logo-div {
    display: flex;
    padding: 14px 34px 10px 10px;
    justify-content: center;
    width: auto;
}

.field button {
    text-decoration: none;
    position: absolute;
    border: none;
    font-size: 14px;

    font-family: inherit;
    color: #fff;
    width: 34vh;
    height: 35px;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 6px;
    z-index: 1;
}

.field button:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.field button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 6px;
    transition: 1s;
}

.field button:hover::before {
    filter: blur(20px);
}

.field button:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.boton-container {
    padding: 10px 10px 10px 10px;
}

.p-error-input {
    color: red;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.checkbox-container {
    display: flex;
    font-size: 12px;
    padding-right: 20px;
    width: auto;
    align-items: center;
}

.div-link-checkbox {
    width: 36vh;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.singnup {
    padding: 30px 10px 10px 14px;
    display: flex;
    align-items: center;
    width: 36vh;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    font-family: Poppins;
    color: #42327e;
    font-size: 10;
}

.container-singnup {
    width: 45vh;
    padding: -6px;
    display: flex;
    justify-content: space-between;
}

.img-deco {
    width: 20px;
    z-index: 1;
    position: relative;
}
.socialmedia-container {
    display: flex;
    width: 40%;
    justify-content: flex-start;

}

.facebookButtom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 34vh;
    height: 40px;
    border: none;
    font-family: Helvetica;
    background: #1877f2;
    color: #fff;
    box-shadow: 2px 2px 10px #838383;
}

.social-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 40px 0px 0px;
    align-items: center;
}

.google-btm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 34vh;
    height: 40px;
    border: none;
    font-family: Helvetica;
    background: #fff;
    color: #838383;
    box-shadow: 2px 2px 10px #838383;
}

.google-container {
    display: flex;
    justify-content: center;
    width: 35vh;
    height: auto;
    padding: 10px;
}

.img-mario {
    max-width: 100%;
    height: 100%;
}

@media (max-width: 950px) {
    .img-conteiner {
        display: none;
    }
}
